
.titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
