h4 { font-weight: 400;}

.cartao {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffff00;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.badge {
    color: #ffffff;
    width: fit-content;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 12px;
}

 .high {
  background-color: #e74c3c;
}

 .medium {
  background-color: #f1c40f;
  color: #000;
}

.low {
  background-color: #2ecc71;
}
