h4 { font-weight: 400;}

.cartao {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffee22;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
    cursor: move;
    min-height: 160px;
    height: auto;
    overflow: hidden;
}

.badge {
    color: #ffffff;
    width: fit-content;
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 12px;
}

 .high {
  background-color: #e74c3c;
}

 .medium {
  background-color: #f1c40f;
  color: #000;
}

.low {
  background-color: #2ecc71;
}

.dragging {
    opacity: 0.2;
}

.detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-data {
    font-size: 12px;
    color: #4b5563;
}

.data-criacao{
    font-weight: 300;
    font-size: 14px;
}

.titulo {
   font-size: 18px;
    color: #4b5563;
    font-weight: 600;
}

.user img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    object-fit: cover;
    cursor: default;
}
