<div class="container">
  <div class="header">
    <h3>Nova Tarefa</h3>

  </div>

  <form [formGroup]="tarefaForm">
    <div class="body">
      <div class="input-group">
        <label for="nomeTarefa">Descrição tarefa</label>
        <input type="text" id="nomeTarefa" formControlName="nomeTarefa" placeholder="Tarefa">
      </div>
      <div class="input-group">
        <label for="responsavel">Responsavél</label>
        <select id="responsavel" formControlName="responsavel">
          <option *ngFor="let responsavel of responsaveis" [value]="responsavel.id">
            {{ responsavel.nome }}
          </option>
        </select>
      </div>
      <div class="btns-acoes">
        <button class="btn-fechar" (click)="fechar()">
          <i class="fa-solid fa-circle-xmark"></i></button>
        <button class="btn-confirmar" (click)="confirmar()" [disabled]="!tarefaForm.valid">
          <i class="fa-solid fa-circle-check"></i>
        </button>

      </div>
    </div>
  </form>
</div>
