.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: #ffee22;
}

.header {
  color: #2D2D2D;
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: 500;
  color: #2D2D2D;
  font-size: 0.7rem;
}

input {
  background-color: transparent;
  border: none;
  font-size: 14px;
  outline: none;
}

select {
  font-size: 14px;
  border: none;
  background-color: transparent;

  cursor: pointer;
  outline: none;

  transition: border-color 0.2s, box-shadow 0.2s;
}

option {
  background-color: #ffee22;
  color: #333;
}

.btns-acoes {
  display: flex;
  gap:0.5rem;
  justify-content: flex-end;
}

.input-group {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn-fechar {
  cursor: pointer;
  border: none;
  background-color: transparent;
}


button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  i {
  font-size: 30px;
}
}

.btn-fechar i {
  color: #d90429;
}

.btn-confirmar i {
 color: #00a86b;
}
