.coluna-kanban {
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 90%;
    overflow-y: auto;
    background-color: #f6f8fc;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 12px;
    overflow: hidden;
    position: relative;
    min-width: 300px;
}

.coluna-kanban::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}

.coluna-kanban::after {
    background-color: var(--after-color);
}

.add-cartao {
    color: #4b5563;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.coluna-header {
    display: flex;
    justify-content: space-between;
}

.cartoes {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.card_over {
 background-color: #eaeffa;
 border-radius: 8px;
}
