<main>
  <div class="container">
    <div class="titulo">
    <h1>Kanban da Joi</h1>
    <p>Um quadro kanban para gerenciar suas tarefas.</p>
</div>
<div class="colunas-kanban">
  <app-coluna-kanban nomeColuna="Backlog"
  afterColor="#d573b6"
  [cards]="backlogCards()"></app-coluna-kanban>
  <app-coluna-kanban nomeColuna="Doing"
   afterColor="#fea065"
  [cards]="doingCards()"></app-coluna-kanban>
  <app-coluna-kanban nomeColuna="Review"
  afterColor="#8ff600"
  [cards]="reviewCards()"></app-coluna-kanban>
  <app-coluna-kanban nomeColuna="Done"
  afterColor="#004173"
  [cards]="doneCards()"></app-coluna-kanban>
</div>
  </div>
</main>
