
.titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
  margin-bottom: 10px;
}



.container {
 min-height: 100vh;
}

//layout usando flex-box
// .container {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   justify-content: center;
//   align-items: center;
// }


// .colunas-kanban {
//   display: flex;
//   gap: 10px;
// }
//layout usando flex-box fim

.colunas-kanban {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}
