
.titulo {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border-radius: 10px;
  margin-bottom: 10px;
}



.container {
 height: 100vh;
}

.colunas-kanban {
  height: 95%;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


#dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
  min-width: 300px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
